/* Bhanuja */
.form-field {
  width: 100%;
  margin-bottom: 20px;
}

.checkbox {
  color: red;
}

.job-application-form {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Add additional custom styling as needed */
